* {
  box-sizing: border-box;
}

.navbar {
  border: 15px solid #000;
  width: 100%;
  height: auto;
  position: fixed;
  background-color: #000;
}
.navbar__img {
  margin-left: 4%;
  width: 16rem;
  float: left;
}

.menu__hamburger {
  color: fff;
  font-size: 4.2em;
  float: right;
}
.menu__item {
  display: none;
  list-style: none;
  margin-left: 5rem;
}

.banner {
  padding-top: 86px;
  padding-right: 0px;
  margin: 0px;
}
.banner__img {
  background-image: url("../images/banner-mobile.png");
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__content {
  padding: 25rem 3rem;
}

.searchBar {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #686868;
  border-radius: 1.625rem;
  display: flex;
}
.searchBar--input {
  width: 100%;
  height: 3rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1.5em;
}
.searchBar__button {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}
.searchBar__button--submit {
  color: gray;
  font-size: 2em;
  float: right;
  padding-right: 10px;
}

body {
  background-color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: justify;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

.container {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10.8em;
}

.grid {
  gap: 20px;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.card {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 0.25em;
  counter-increment: item;
  padding: 0.5em;
}
.card--certified {
  float: right;
  width: 2.5 em;
  height: 2.5 em;
}
.card__column {
  align-content: center;
  margin: auto;
  padding: 10px;
}
.card__column--one {
  width: 35%;
  float: left;
}
.card__column--two {
  width: 55%;
  float: right;
}
.card__image {
  max-width: 100%;
  height: auto;
  margin-top: 1.5em;
}
.card__button {
  width: 100%;
  background-color: #000;
  font-size: 16px;
  padding: 12px;
  padding-left: 25%;
  padding-right: 25%;
  border-radius: 20px;
  color: #fff;
}

.footer {
  text-align: center;
  width: 100%;
  padding: 5%;
  background-color: #000;
  color: #fff;
}
.footer__link:link {
  color: #fff;
}
.footer__link:visited {
  color: #fff;
}
.footer__link--position {
  float: right;
}

@media (min-width: 768px) {
  .navbar {
    align-items: flex-start;
    height: 12%;
  }
  .navbar__img {
    width: 12.5rem;
    margin-left: auto;
  }

  .menu__hamburger {
    font-size: 4em;
  }

  .banner {
    padding-top: 70px;
  }
  .banner__img {
    height: 27rem;
  }
  .banner__content {
    padding: 13rem 3rem;
  }
  .banner__content h1 {
    font-size: 2.2rem;
    color: #fff;
  }

  .searchBar {
    margin-top: 2.5em;
  }
  .searchBar--input {
    font-size: 1.1em;
  }
  .searchBar__button {
    padding-top: 0px;
  }

  .container {
    padding-top: 0;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    justify-content: center;
    align-content: center;
    max-width: 48%;
  }

  body {
    font-size: 13px;
  }

  .footer {
    padding: 1% 4%;
    text-align: left;
  }
  .footer--link {
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .navbar__img {
    width: 14.6rem;
  }

  .menu {
    float: right;
    margin: 1.5rem 1rem;
  }
  .menu__hamburger {
    display: none;
  }
  .menu__item {
    font-size: 1.2rem;
    display: inline-block;
  }
  .menu__item--visited:link {
    color: #fff;
    text-decoration: none;
  }
  .menu__item--visited:visited {
    color: #fff;
  }

  .banner {
    padding-top: 70px;
  }
  .banner__img {
    background-image: url("../images/banner.png");
    height: 38rem;
  }
  .banner__content {
    padding: 16.5rem 3rem;
    padding-left: 6.3rem;
  }
  .banner__content h1 {
    font-size: 2.6rem;
    color: #fff;
  }

  .searchBar {
    border: none;
    max-width: 47%;
    float: left;
    margin-top: 1%;
  }
  .searchBar--input {
    font-size: 1.8em;
  }
  .searchBar__button {
    padding-top: 0px;
  }

  .container {
    padding-top: 4rem;
  }

  .grid {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    max-width: 30%;
    font-size: 0.85rem;
    padding: 0px;
  }
  .card h1 {
    font-size: 2.5rem;
  }
  .card h3 {
    font-size: 1 rem;
    justify-content: center;
  }
  .card__column {
    margin: auto;
    padding-top: 0px;
  }
  .card__column--one {
    width: 42%;
  }
  .card__column--two {
    margin-top: 0px;
    width: 57%;
  }
  .card__image {
    max-width: 92%;
    margin-top: 0em;
  }
  .card__button {
    width: 92%;
    height: auto;
  }
}