@import './_variables.scss';
@import './_header.scss';
@import './_container.scss';
@import './_footer.scss';


@media (min-width: 768px) {  
  .container__grid{
    display: flex;
    flex-wrap: wrap;
  }
  .grid__cards {
    justify-content:center;
    align-content: center;
  }
}

@media (min-width: 1280px) {  
  .container__grid{
    display: flex;
    flex-wrap: wrap;
  }
  .grid__cards {
    max-width: 1280px;
    justify-content:space-between;
  }
}
