
body {
  background-color: $contrastColor;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  text-align:justify;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

.container{
  justify-content: center;
  display: flex;
  padding-top: 10.8em;
}

.grid {
  gap: 20px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.card {
  background-color: $contrastColor;
  border: 2px solid $contrastColor;
  border-radius: 0.25em;
  counter-increment: item;
  padding: 0.5em;
  &--certified{
    float: right;
    width: 2.5 em;
    height: 2.5 em;
  }
  &__column {
    align-content: center;  
    margin: auto; 
    padding: 10px;
    &--one{
      width: 35%;
      float: left;
    }
    &--two{
      width: 55%;
      float: right;
    }
  }
  &__image {
    max-width: 100%;
    height: auto;
    margin-top: 1.5em;
  }
  &__button {
    width: 100%;
    background-color: $mainColor;
    font-size: 16px;
    padding: 12px;
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 20px;
    color: $contrastColor;
  }
}